.AppName {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    background-color: white;
    border-radius: 25px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: white;
    border-radius: 25px;
}

.Mui-selected {
    background-color: #CD171F !important;
    color: white !important;
}

